.calender{
    display: grid;
    grid-gap: 1em;
    grid-template-columns:repeat(7,1fr);
    height:500px;
    grid-template-rows:1e repeat(6,1fr);
    
}
.date{
    background-color: turquoise;
    display:flex;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.other_date{
    background-color: rgb(166, 233, 226);
    color: rgb(85, 44, 44);
}