@import url(login8_3.css);

.container8_2{
    height:400px;
     width: 400px; 
     border:2px dotted;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}
.box{
    /* margin-left:5px; */
    height:200px;
    width: 200px;
    border:3px dashed;
}
#box-1{
    /* order:2; */
    
}
#box-2{
    /* order:2; */
    
}
#box-3{
    /* order:1; */
    flex-grow:2;
}
#box-4{
    /* order:4; */
    flex-grow:;
}