.login_container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.login_form{
    display: flex;
    flex-direction: column;
    
}
.login_form input,button{
    padding: 2px 10px;
    font-size: 1.2em;
    margin-top:5px;
}
.login_form button{
    background-color: antiquewhite;
    border: none;
    padding:5px ;
    border-radius: 10px;
    cursor: pointer; 
}
.nav{
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: bisque;
    transition: 0.3s ease;
}
.left a:hover{
    background-color: aquamarine;

}
.nav .left, .right{
    padding:10px 20px;
    font-size: 1.1em;
    
}
a{
    margin-left: 10px; 
    text-decoration: none;
    color: rgb(247, 250, 255);
}
.right{
    margin-right: 50px;
}