.login_container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login_form{
    display: flex;
    flex-direction: column;
    
}
.login_form input,button{
    padding: 2px 10px;
    font-size: 1.2em;
    margin-top:5px;
}
.login_form button{
    background-color: antiquewhite;
    border: none;
    padding:5px ;
    border-radius: 10px;
    cursor: pointer; 
}
.nav{
    display: flex;
    justify-content: space-between;
}